$primaryBackground: blue;
$primaryForeground: white;
$primaryFont: sans-serif;

// :export {
//     primary-foreground: $primaryForeground;
//     primary-background: $primaryBackground;

//     primary-font: $primaryFont;
// }

